# MAIN
.DS_Store
Thumbs.db
.idea/
.vscode/
.fleet/
.zed/
*.log

# BACKEND socnet-backend
socnet-backend/.env
socnet-backend/.env.backup
socnet-backend/.env.production
socnet-backend/auth.json
socnet-backend/vendor/
socnet-backend/node_modules/
socnet-backend/public/build/
socnet-backend/public/hot/
socnet-backend/public/storage
socnet-backend/storage/*.key
socnet-backend/storage/pail
socnet-backend/.phpactor.json
socnet-backend/.phpunit.result.cache
socnet-backend/.phpunit.cache
socnet-backend/storage/app/public/*
!socnet-backend/storage/app/public/.gitignore
socnet-backend/storage/framework/cache/data/*
!socnet-backend/storage/framework/cache/data/.gitignore
socnet-backend/storage/framework/sessions/*
!socnet-backend/storage/framework/sessions/.gitignore
socnet-backend/storage/framework/testing/*
!socnet-backend/storage/framework/testing/.gitignore
socnet-backend/storage/framework/views/*
!socnet-backend/storage/framework/views/.gitignore
socnet-backend/storage/logs/*
!socnet-backend/storage/logs/.gitignore
socnet-backend/Homestead.json
socnet-backend/Homestead.yaml

# FRONTEND socnet-frontend
socnet-frontend/node_modules/
socnet-frontend/.env
socnet-frontend/.env.local
socnet-frontend/dist/
socnet-frontend/build/
socnet-frontend/npm-debug.log*
socnet-frontend/yarn-debug.log*
socnet-frontend/yarn-error.log*